AlimentadorAutomaticoPet/Node-red/flows.json
[
    {
        "id": "7725925a.2f8aac",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dbb259c.1812fa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1743d185958f4708",
        "type": "tab",
        "label": "Challenge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8920ea34.844c58",
        "type": "tab",
        "label": "CP1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "861cfc26.a38908",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "200",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c54e8231.9eaa5",
        "type": "ui_group",
        "name": "Default",
        "tab": "9665c56a.074978",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5648afa.9e2ff8",
        "type": "mqtt-broker",
        "name": "Luminosidade",
        "broker": "http://www.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Luminosidade",
        "birthQos": "0",
        "birthPayload": "payload.lux",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a2aaf909.ecd6c8",
        "type": "mqtt-broker",
        "name": "Temperatura",
        "broker": "http://www.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Temperatura",
        "birthQos": "0",
        "birthPayload": "payload.temp",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dc20fee3.35265",
        "type": "mqtt-broker",
        "name": "Velocidade do vento",
        "broker": "http://www.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Velocidade do vento",
        "birthQos": "0",
        "birthPayload": "payload.speedwind",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "790ed332.97ea0c",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "9665c56a.074978",
        "type": "ui_tab",
        "name": "Home1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "30bf3c7d7ca61a0f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3eabc4834c9c5f71",
        "type": "serial-port",
        "serialport": "",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f46dbdc2e27fdf16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8c4896ff43390820",
        "type": "mqtt-broker",
        "name": "DistanciaAgua",
        "broker": "http://www.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "DistanciaAgua",
        "birthQos": "0",
        "birthPayload": "payload.distanciaAgua",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0c6ddf762d99362",
        "type": "mqtt-broker",
        "name": "DistanciaComida",
        "broker": "http://www.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "DistanciaComida",
        "birthQos": "0",
        "birthPayload": "payload.distanciaComida",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a23b72c0.bc0d1",
        "type": "inject",
        "z": "7725925a.2f8aac",
        "name": "tempo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "62efde37.e51bd"
            ]
        ]
    },
    {
        "id": "62efde37.e51bd",
        "type": "debug",
        "z": "7725925a.2f8aac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f84659b.8cfc02",
        "type": "serial in",
        "z": "dbb259c.1812fa8",
        "name": "arduino",
        "serial": "861cfc26.a38908",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "d3dfd97.b106e28"
            ]
        ]
    },
    {
        "id": "d3dfd97.b106e28",
        "type": "json",
        "z": "dbb259c.1812fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "9862e163.c0e3d8"
            ]
        ]
    },
    {
        "id": "9862e163.c0e3d8",
        "type": "debug",
        "z": "dbb259c.1812fa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "ad36f525.f28db8",
        "type": "ui_gauge",
        "z": "8920ea34.844c58",
        "name": "",
        "group": "c54e8231.9eaa5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-50",
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "26",
        "seg2": "45",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "63a30f39.1fd3a",
        "type": "change",
        "z": "8920ea34.844c58",
        "name": "Luminosidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lux",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 120,
        "wires": [
            [
                "7ea03f10.e1af6"
            ]
        ]
    },
    {
        "id": "9c6c2369.53225",
        "type": "json",
        "z": "8920ea34.844c58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "63a30f39.1fd3a",
                "f05b5c76.65086",
                "39c6c073.def4"
            ]
        ]
    },
    {
        "id": "f05b5c76.65086",
        "type": "change",
        "z": "8920ea34.844c58",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "1cf3e3b6.4f26bc"
            ]
        ]
    },
    {
        "id": "39c6c073.def4",
        "type": "change",
        "z": "8920ea34.844c58",
        "name": "Velocidade do vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speedwind",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "cd4abd14.6f7e4"
            ]
        ]
    },
    {
        "id": "7ea03f10.e1af6",
        "type": "mqtt out",
        "z": "8920ea34.844c58",
        "name": "",
        "topic": "Luminosidade",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a5648afa.9e2ff8",
        "x": 1120,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab3d78dc.9a9118",
        "type": "mqtt in",
        "z": "8920ea34.844c58",
        "name": "",
        "topic": "Luminosidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "a5648afa.9e2ff8",
        "nl": false,
        "rap": false,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "33d60a7.513def6"
            ]
        ]
    },
    {
        "id": "1cf3e3b6.4f26bc",
        "type": "mqtt out",
        "z": "8920ea34.844c58",
        "name": "Temperatura",
        "topic": "Temperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a2aaf909.ecd6c8",
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6923fb.a0664c",
        "type": "mqtt in",
        "z": "8920ea34.844c58",
        "name": "",
        "topic": "Temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "a2aaf909.ecd6c8",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "ad36f525.f28db8"
            ]
        ]
    },
    {
        "id": "9fd3d098.f5a24",
        "type": "mqtt in",
        "z": "8920ea34.844c58",
        "name": "",
        "topic": "Velocidade do vento",
        "qos": "2",
        "datatype": "auto",
        "broker": "dc20fee3.35265",
        "nl": false,
        "rap": false,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "a6c9e5ed.d9c738",
                "88c0a652.598648"
            ]
        ]
    },
    {
        "id": "cd4abd14.6f7e4",
        "type": "mqtt out",
        "z": "8920ea34.844c58",
        "name": "Velocidade do vento",
        "topic": "Velocidade do vento",
        "qos": "",
        "retain": "",
        "broker": "dc20fee3.35265",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "a6c9e5ed.d9c738",
        "type": "ui_gauge",
        "z": "8920ea34.844c58",
        "name": "",
        "group": "c54e8231.9eaa5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade do vento",
        "label": "Km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "149",
        "seg2": "150",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "33d60a7.513def6",
        "type": "ui_gauge",
        "z": "8920ea34.844c58",
        "name": "",
        "group": "c54e8231.9eaa5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "LM",
        "format": "{{value}}",
        "min": 0,
        "max": "38000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15000",
        "seg2": "26000",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "94ec46fe.f8f488",
        "type": "function",
        "z": "8920ea34.844c58",
        "name": "",
        "func": "if (msg.payload > 80) msg.payload = `A velocidade está maior que 80km/h\\n\nCuidado com os fortes ventos!`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "a11a140a.88e318"
            ]
        ]
    },
    {
        "id": "fb754403.9cc468",
        "type": "twitter out",
        "z": "8920ea34.844c58",
        "twitter": "",
        "name": "Tweet",
        "x": 1130,
        "y": 560,
        "wires": []
    },
    {
        "id": "1c93f45e.bc91cc",
        "type": "debug",
        "z": "8920ea34.844c58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "3f5b6e63.c76a12",
        "type": "serial in",
        "z": "8920ea34.844c58",
        "name": "",
        "serial": "790ed332.97ea0c",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "a9ff4ccc.9259c"
            ]
        ]
    },
    {
        "id": "a11a140a.88e318",
        "type": "delay",
        "z": "8920ea34.844c58",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "bff29396.5c4e8"
            ]
        ]
    },
    {
        "id": "88c0a652.598648",
        "type": "json",
        "z": "8920ea34.844c58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "94ec46fe.f8f488"
            ]
        ]
    },
    {
        "id": "a9ff4ccc.9259c",
        "type": "delay",
        "z": "8920ea34.844c58",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "9c6c2369.53225"
            ]
        ]
    },
    {
        "id": "bff29396.5c4e8",
        "type": "switch",
        "z": "8920ea34.844c58",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            },
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "fb754403.9cc468"
            ],
            [
                "1c93f45e.bc91cc"
            ]
        ]
    },
    {
        "id": "23e08fa5.8e28a",
        "type": "comment",
        "z": "8920ea34.844c58",
        "name": "Conexão com arduino\\n via porta COM",
        "info": "",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "cad303a0.35956",
        "type": "comment",
        "z": "8920ea34.844c58",
        "name": "Splita os dados\\n para cada publisher",
        "info": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "7dc7b51c.d12c9c",
        "type": "comment",
        "z": "8920ea34.844c58",
        "name": "Publicar(PUB) nos topicos\\n via MQTT ",
        "info": "",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "55b41fc5.ec31b",
        "type": "comment",
        "z": "8920ea34.844c58",
        "name": "Recebendo os valores\\n via Subscriber(SUB)",
        "info": "",
        "x": 180,
        "y": 580,
        "wires": []
    },
    {
        "id": "7ace08a6.009e98",
        "type": "comment",
        "z": "8920ea34.844c58",
        "name": "Fluxo para validação\\n se a velocidade do vento está maior que 80km/h",
        "info": "",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "d8feb4595bcd5272",
        "type": "serial in",
        "z": "1743d185958f4708",
        "name": "",
        "serial": "790ed332.97ea0c",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c76c851ae92128a5"
            ]
        ]
    },
    {
        "id": "c76c851ae92128a5",
        "type": "delay",
        "z": "1743d185958f4708",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "dc4f9d7a877c160b"
            ]
        ]
    },
    {
        "id": "dc4f9d7a877c160b",
        "type": "json",
        "z": "1743d185958f4708",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "48ee888eef2537f3",
                "ba9a17c98c93fc5d"
            ]
        ]
    },
    {
        "id": "48ee888eef2537f3",
        "type": "change",
        "z": "1743d185958f4708",
        "name": "DistanciaAgua",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distanciaAgua",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 40,
        "wires": [
            [
                "9e550afed32bfe40"
            ]
        ]
    },
    {
        "id": "ba9a17c98c93fc5d",
        "type": "change",
        "z": "1743d185958f4708",
        "name": "DistanciaComida",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distanciaComida",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "47582948d4bc22c4"
            ]
        ]
    },
    {
        "id": "47582948d4bc22c4",
        "type": "mqtt out",
        "z": "1743d185958f4708",
        "name": "",
        "topic": "DistanciaComida",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0c6ddf762d99362",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e550afed32bfe40",
        "type": "mqtt out",
        "z": "1743d185958f4708",
        "name": "",
        "topic": "DistanciaAgua",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c4896ff43390820",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "b87dc1112983ae6a",
        "type": "mqtt in",
        "z": "1743d185958f4708",
        "name": "",
        "topic": "DistanciaAgua",
        "qos": "0",
        "datatype": "auto",
        "broker": "8c4896ff43390820",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "64dbd3072e215088"
            ]
        ]
    },
    {
        "id": "64dbd3072e215088",
        "type": "ui_gauge",
        "z": "1743d185958f4708",
        "name": "",
        "group": "c54e8231.9eaa5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DistanciaAgua",
        "label": "LM",
        "format": "{{value}}",
        "min": 0,
        "max": "38000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15000",
        "seg2": "26000",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "ebe5bf1134ef125f",
        "type": "mqtt in",
        "z": "1743d185958f4708",
        "name": "",
        "topic": "DistanciaComida",
        "qos": "0",
        "datatype": "auto",
        "broker": "f0c6ddf762d99362",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "2ddcae99679f4499"
            ]
        ]
    },
    {
        "id": "2ddcae99679f4499",
        "type": "ui_gauge",
        "z": "1743d185958f4708",
        "name": "",
        "group": "c54e8231.9eaa5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DistanciaComida",
        "label": "LM",
        "format": "{{value}}",
        "min": 0,
        "max": "38000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15000",
        "seg2": "26000",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "1a76cda7478ddd1b",
        "type": "comment",
        "z": "1743d185958f4708",
        "name": "Conexão arduino por\\n meio da porta COM",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a4cee4b61e88ad5",
        "type": "comment",
        "z": "1743d185958f4708",
        "name": "Publicação(PUB) dos topicos via MQTT ",
        "info": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d3d4b8e89860bd8",
        "type": "comment",
        "z": "1743d185958f4708",
        "name": "Recebendo os valores via Subscriber(SUB)",
        "info": "",
        "x": 830,
        "y": 300,
        "wires": []
    }
]